body {
    background: url('images/slider-bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.header
{
    margin-top: 140px;
    margin-bottom:140px;
}
ul 
{
    list-style-type: none;
}

.container .jumbotron {
    border-radius: 16px ;
}
.dropdown-item:hover
{
    background-color: lightgreen;
}

#grad {
    background-image: linear-gradient(to right,rgb(0, 204, 0), yellow) !important;
  }
#kep 
  {
    background: no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    object-fit: cover;
  }

#at_label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: rgb(0, 204, 0);
    color: #ffffff;
}
input[type="password"],input[type="text"],input[type="email"]{
    height: 50px;
    border: 1px solid #dee0e4;
    padding: 0 15px;
}
.img-upload
{
    height: 50px;
    border: 1px solid #dee0e4;
    padding: 0 15px;
}



.navbar-light .navbar-brand {
    color: rgba(0,0,0,.9);
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0,.9);
    padding: 15px;
}
.navbar-light .navbar-nav .nav-link:hover {
    background-color: rgb(0, 204, 0);
}

.card-img-top
{
    height: 100%;
    max-height: 300px;
}
.icon 
{
    font-size: 60px;
    color: #52b6ec;
    margin-bottom: 15px;
}

.navbar-user-icon {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}

.center 
{
    text-align: center;
}
.center_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.jumbotron
{
    margin-bottom:auto;
    padding:10px;
    background-color: rgba(255, 255, 255, 0.8); 
    opacity: 1;
    border-radius:0;
}
.page-footer
{
    min-height: 200px;
    padding:10px;
    background-color: rgba(110, 110, 110); 
    opacity: 1;
    border-radius:0;
}

.plan {
    background: #fff;
    list-style: none;
    margin: 0 0 20px;
    text-align: center;
    padding: 0;
}
.plan-price {
    color: #666;
    padding: 15px 0;
    font-size: 48px;
}
.plan-action {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 0;
}

.btn-danger
{
    float:right;
}

  