body {
    background: url('images/slider-bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.menu
{
   margin-top:15px !important;
}

.card-title
{
    text-align: center !important;
    margin: auto;
}

#kep
{
    height: 300px !important;
}

ul 
{
    list-style-type: none;
}
.icon 
{
    font-size: 60px;
    color: #52b6ec;
    margin-bottom: 15px;
}
.brand
{
    display: inherit;
    font-weight: 700;
    font-size: 5em;
    line-height: normal;
    text-align: center;
    margin: 0;
    padding: 30px 0 10px;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.brand-bar
{
    padding: 0 0 40px;
    font-size: 1.25em;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
.center 
{
    text-align: center;
}

.jumbotron
{
    margin-bottom:auto;
    padding:10px;
    background-color: rgba(255, 255, 255, 0.8); 
    opacity: 1;
    border-radius:0;
}
.page-footer
{
    min-height: 200px;
    padding:10px;
    background-color: rgba(110, 110, 110); 
    opacity: 1;
    border-radius:0;
}

.plan {
    background: #fff;
    list-style: none;
    margin: 0 0 20px;
    text-align: center;
    padding: 0;
}
.plan-price {
    color: #666;
    padding: 15px 0;
    font-size: 48px;
}
.plan-action {
    margin-top: 20px;
    margin-bottom: 20px;
    border-bottom: 0;
}

  